@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #212529;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  display: block;
}

img{
  width: 100%;
  height:100%;
  object-position: center;
}
span{
  display: block;
}

.container-xxl{
  max-width: 1600px;
}

/* --------------------end ruls----------------------- */
/* --------------------start nav one------------------ */
.one{
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  width: 100%;
  & .Call{
    font-size: 14px;
    font-weight: 300;
    color: #c8b16f;
    position: relative;
  }
  & .Call::after{
    content: "";
    position: absolute;
    top: 12px;
    right: -3px;
    width:1px;
    height: 80%;
    opacity: .8;
    background-color: #c8b16f;
    z-index: -1;
  }
  & #iconsNav{
  padding-top: .8rem;
    & svg , i{
    cursor: pointer;
    transition: .3s ease;
  }
        & svg:hover > g, i:hover{
    color: #fff !important;
    fill: #fff !important;
  }
}
    & hr{
  width: 100%;
  height: 1px;
  background-color: #ffffff46;
  border: 0 !important;
  opacity: .8;
  margin-bottom: 0 !important;
}
/* --------------------end first thing in sec on */
/* --------------------start nav---------------- */
.navbar{
  transition: .3s ease;
    & a{
    img{
      width: 80px;
      height: 80px;
    }
  }
        & .nav-link{
    color: #fff;
  }
        & .dropdown-menu{
    background-color: #000;
      & .dropdown-item{
      color: #fff;
      font-weight: 200;
      padding: 8px 1rem;
    }
}
    & .dropdown-item:focus,
.dropdown-item:hover{
  background-color: #c8b16f;
}
    & .navbar-toggler{
  border: 0;
}
    & .navbar-toggler:focus{
  box-shadow: unset;
}
}
}
.navbar.fixed-top{
  background-color: #090c0d6c !important;
  backdrop-filter: blur(2px);
  transition: .3s ease;
  animation: fadeInDown 1s 1;
}

/* --------------------end nav one-------------------- */
/* --------------------start two---------------------- */
.two{
width: 100%;
height: 100vh;
overflow: hidden;
background: #212529;
  & .swiper{
  width: 100%;
  height: 100%;
  & .swiper-slide{
  & .slideContent{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
    & .contentBox
{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
    & p{
    font-size: clamp(1.5rem,5vw,2.5rem);
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
  }
        & span{
    font-size: clamp(1rem , 5vw , 2rem);
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
        & .mored{
    margin-top: 1.5rem;
      & .MoreD {
      font-family: 'Open Sans', sans-serif;
        line-height: 1;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: .75rem;
        background-color: #c8b16f;
        color: #000;
        border-radius: 10rem;
        font-weight: 400;
        padding: .75rem 1.5rem;
        padding-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: background-color .3s;
      }
                & .MoreD__icon-wrapper {
        flex-shrink: 0;
        width: 25px;
        height: 25px;
        position: relative;
        color: black;
        background-color: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        overflow: hidden;
      }
                & .MoreD:hover {
        background-color: transparent;
        color: #c8b16f;
        font-weight: 800;
        font-size: 1.1rem;
      }
                & .MoreD:hover .MoreD__icon-wrapper {
        color: #c8b16f;
        background-color: transparent ;
      }
                & .MoreD__icon-svg--copy {
        position: absolute;
        transform: translate(-150%, 150%);
      }
                & .MoreD:hover .MoreD__icon-svg:first-child {
        transition: transform .3s ease-in-out;
        transform: translate(150%, -150%);
      }
                & .MoreD:hover .MoreD__icon-svg--copy {
        transition: transform .3s ease-in-out .1s;
        transform: translate(0);
      }
  }
} 
} 
  }
    & .swiper-button-prev,
.swiper-button-next{
  color: aliceblue;
}
    & .swiper-button-next:after,
.swiper-button-prev:after{
  font-size: 1.5rem;
}
    & .swiper-slide-active {
    & img {
    object-fit: cover;
    transform-origin: center;
    animation: skaldwone 4.5s 1;
    transition: all 4.5s ease;
  }
        & .mored {
      animation: fadeIn 3s 1;
    }
}
    & .swiper-slide-prev,.swiper-slide-next{
    & img {
    object-fit: cover;
  }
}
}
}
/* --------------------end two------------------------ */
/* --------------------start third-------------------- */
.third{
  & .boxThird-1,
.boxThird-2, 
.boxThird-3{
  height: 34vh;
  & h3{
  color: #c8b16f ;
  font-size: 1.19rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: normal;

}
    & p{
  color: #fff;
  margin: 1.25rem 0 0 0 ;
  font-size: 0.8rem;
  width: 50%;
}
    & > .mored {
  margin-top: 1.25rem;

    & .MoreD {
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: #c8b16f;
    color: #000;
    border-radius: 10rem;
    font-weight: 400;
    padding: .75rem 1.5rem;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }

        & .MoreD__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: black;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }

        & .MoreD:hover {
    background-color: transparent;
    color: #c8b16f;
    font-weight: 800;
    font-size: 1.1rem;
  }

        & .MoreD:hover .MoreD__icon-wrapper {
    color: #c8b16f;
    background-color: transparent;
  }

        & .MoreD__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }

        & .MoreD:hover .MoreD__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }

        & .MoreD:hover .MoreD__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }
}
}
  & .boxThird-1{
  background-image: url(../imgs/sec-third/bg-serv-1.jpg);
}
  & .boxThird-2{
  background-image: url(../imgs/sec-third/bg-serv-2.jpg);
}
  & .boxThird-3{
  background-image: url(../imgs/sec-third/bg-serv-3.jpg);
}
}
/* --------------------end third---------------------- */
/* --------------------start fourth------------------- */
  .fourth{
  padding: .83in 0;
  background-color:#2e333c;
  color: #fff;
  & .fourtheader{
    & h4{
    width: 80px;
    font-size: 1.9rem;
    font-weight: 600;
    text-transform:capitalize;
    margin-bottom: 1.9rem;
    padding-left: 3px;
    background-image: url(../imgs/sec-fourth/dot.png);
  }
        & p{
    font-size: .8rem;
  }
}
  & .container-xxl{
  padding-top: 4rem;
    &.fourthContent{
    &.forthBox{
      &.fa-2xl{
      line-height: unset;
      font-size: 2.9rem;
      margin-top: -15px;
    }
        & .boxContent{
  
      & h3{
      font-size: 1.06rem;
      text-transform: uppercase;
      font-weight: 500;
      color: #c8b16f;
    }
            & p{
      font-size: .8rem;
      width: 95%;
    }
      }
    }
  } 
}
}
/* --------------------end fourth -------------------- */
/* --------------------start fifth-------------------- */
.fifth{
  padding: 5rem 0;
  overflow: hidden;
    & .container-xxl{
    max-width: 1700px;
    height: 24vh;
    overflow: hidden;
    & .newSwiper{
      width: 100%;
      height: 100%;
    & .swiper-slide{
    cursor: pointer;
    overflow: hidden;
    position: relative;
      & a{
      width: 100%;
      height: 100%;
        & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: 1s ease;
      }
    }
            & .slideContent{
      position: absolute;
      width: 100%;
      height: 100%;
      top: -20%;
      left: 0;
      opacity: 0;
      transition: all .8s ease;
      padding: 1rem;
        & .slideContentBox{
        height: 100%;
        outline: 1px solid #c8b16f;
        background-color: #2e333ca1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        & h3{
        font-size: .88rem;
        font-weight: 500;
        letter-spacing: 1px;
        color: #fff;
        margin: 0;
      }
                & p{
        font-size: .67rem;
        font-weight: 300;
        letter-spacing: 3px;
        color: #fff;
        
      }
                & span{
        width: 50%;
        border-top: 1px solid #c8b16f;
        margin: .5rem 0;
        animation: widthDown 1s 1 .1s ;
      }
    }
    }
  }
            & .swiper-slide:hover > a img{
      transform: scale(1.1);
    }
            & .swiper-slide:hover > .slideContent{
      top:0;
      opacity: 1;
      /* animation: fadeInDown .8s 1; */
    }
    & .swiper-button-prev,
.swiper-button-next{
  background-color: #212529;
  padding: 1.5rem;
  opacity: .2;
  transition: .3s ease-out;
}

    & .swiper-button-prev:hover,
.swiper-button-next:hover{
  opacity: 1;
}



            & .swiper-button-prev::after,
    .swiper-button-next::after{
          font-size: 0;
          width: 0;
          height: 0;
        }
    }
  }
}
/* --------------------end fifth---------------------- */
/* --------------------start sixth-------------------- */
.sixth{
  padding: 0 0 0 0 ;
    & .container-fluid{
    background-color: #2e333c;
    & .row > div:nth-child(1){
    padding: 5.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
      & .sixthSwap{
      width: 100%;
      height: 100%;
        & .NewSwiper{
        width: 100%;
        height: 100%;
        & .SLiderSIxthBox{
          & blockquote{
          padding: 2.5rem;
          border: 1px solid #c8b16f;
          font-style: italic;
          & p{
          line-height: 40px;
          font-size: .8rem;
          color: #fff;
        }
                    & small{
          display: block;
          font-size: .65rem;
          line-height: 1.5;
          color: #777;
            & cite{
            color: #c8b16f;
          }
        }
        }
                & figure{
        width: 100%;
        height: 100%;
          & img{
          width: 100px;
          height: 100px;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
        }
                    & figcaption{
        display: inline-block;
        font-size: 1.13rem;
        color: #c8b16f;
        margin-left: .8rem;
      }
      }
      }
      }
            & .swiper-pagination{
      text-align: end;
    }
            & .swiper-pagination-bullet-active{
      background-color: #c8b16f;
        }
            & .swiper-pagination-bullet{
      width:10px;
      height: 10px;
      border-radius: 5%;
        }
    }
  }
        & .row > div:nth-child(2){
    padding: 0;
      & .SixthBoxPhoto{
      width: 100%;
      height: 100%;
    background-image: url(../imgs/sec-sixth/bg-testi.jpg);
    background-size: cover;
    background-position: center;
    }
  }
  }
}
/* --------------------end sixth---------------------- */
/* --------------------start seventh------------------ */
.seventh{
  padding: 0;
  & .container-xxl{
  & .svengthHead{
  padding: 5rem 0;
    & .HeadBox{
    padding: 2.5rem 0;
  background-color: #2e333c;
    & p{
    color: #fff;
    text-align: center;
    font-size: 1.88rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    height: auto;
  }
            & .mored {
  
        & .MoreD {
        font-family: 'Open Sans', sans-serif;
        line-height: 1;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: .75rem;
        background-color: #c8b16f;
        color: #000;
        border-radius: 10rem;
        font-weight: 400;
        padding: .75rem 1.5rem;
        padding-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: background-color .3s;
      }
  
                & .MoreD__icon-wrapper {
        flex-shrink: 0;
        width: 25px;
        height: 25px;
        position: relative;
        color: black;
        background-color: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        overflow: hidden;
      }
  
                & .MoreD:hover {
        background-color: transparent;
        color: #c8b16f;
        font-weight: 800;
        font-size: 1.1rem;
      }
  
                & .MoreD:hover .MoreD__icon-wrapper {
        color: #c8b16f;
        background-color: transparent;
      }
  
                & .MoreD__icon-svg--copy {
        position: absolute;
        transform: translate(-150%, 150%);
      }
  
                & .MoreD:hover .MoreD__icon-svg:first-child {
        transition: transform .3s ease-in-out;
        transform: translate(150%, -150%);
      }
  
                & .MoreD:hover .MoreD__icon-svg--copy {
        transition: transform .3s ease-in-out .1s;
        transform: translate(0);
      }
    }
}
  }
    & .seventhContent{
  padding-bottom: 5rem;
    & .logoSwipe{
    width: 100%;
    height: 100px;
    & .LSwiper{
    width: 100%;
    height: 100%;
      & .swiper-slide{
      text-align: center;
        & .Logo {
        width: 100%;
        height: 100%;
        & img{
        width: unset !important;
        height: unset !important;
        object-fit: contain;
        
      }
    }
    }
  }
  }
}
  }
}
/* --------------------end seventh-------------------- */
/* --------------------start footer------------------- */
footer{
  background-color:#090c0d;
  padding: 5rem 0;
    & .row{
      & span{
      display: block;
      font-size: .75rem;
      color: #fff;
        & a{
        display: inline-block;
        color: inherit;
        font-size: inherit;
      }
    }
        & .footerLogo>a{
    width: fit-content;
    text-align: center;
    margin: auto;
      & img{
      width: unset !important;
      height:39px  !important;
      object-fit: contain;
    }
  }
  }
}
/* --------------------end footer--------------------- */
/* start scroll to top */
.scrollTop{
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #c8b16f;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .3s;
  animation: fadeIn .5s 1;
  &:hover{
    background-color: #fff;
    color: #c8b16f;
  }
    &:hover i{
      color: #c8b16f !important;
    }
}
